
/* 타이틀 이미지 영역 */
.event_list_title {
    width: 100%;
    margin: 0 auto;
    height: 29vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}

/* 텍스트는 불투명하지 않게 타이틀 이미지 가상영역 생성  */
.event_list_title::after {
    width: 100%;
    height: 29vh;
    content: "";
    background: url(../images/event.jpg);
    /* 배경이미지가 화면 크기에 따라 조절됨 */
    background-size: cover;
    /* 배경이미지가 노출되는 위치를 조절 */
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    /* 불투명도를 준 뒤 z-index -1로 뒤쪽에 배치 */
    z-index: -1;
    opacity: 0.5;
}

/* 행사 목록 이미지 영역 전부 */
.event_list_img li {
    width: 70%;
    margin: 0 auto;
    margin-top: 2.5vh;
    height: 35vh;
    display: flex;
    position: relative;
    /* overflow: hidden; */
}

/* 행사 목록 이미지 영역 배경 */
.event_list_img a {
    width: 100%;
}

/* 행사 목록 이미지 영역 전부 */
.event_list_img a:hover {
    text-decoration: none;
}

/* 행사 목록 이미지 영역1 */
.event_list_img li:first-child a {
    background: url(../images/event1.jpg);
    background-size: cover;
    background-position: center bottom;
    
}

/* 행사 목록 이미지 영역2 */
.event_list_img li:nth-child(2) a {
    background: url(../images/event2.jpg);
    background-size: cover;
    background-position: center;
}

/* 행사 목록 이미지 영역3 */
.event_list_img li:nth-child(3) a {
    background: url(../images/event3.jpg);
    background-size: cover;
    background-position: center;
}

/* 행사 목록 이미지 행사이름 */
.event_list_name {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 3vh 2vw;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}

/* 행사 목록 이미지 자세히보기 */
.event_list_detail {
    color: white;
    font-size: 1.2rem;
    position: absolute;
    bottom: 3vh;
    left: 2vw;
    font-weight: bold;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}

/* 행사 목록 이미지 행사날짜 */
.event_list_date {
    color: white;
    font-size: 1.2rem;
    position: absolute;
    bottom: 3vh;
    right: 1vw;
    font-weight: bold;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}

/* 미디어쿼리, 태블릿 */
@media screen and (max-width:1024px) {

    /* 행사 목록 이미지 영역 전부 */
    .event_list_img li {
        width: 100%;
    }

    /* 행사 목록 이미지 행사이름 글자크기 조정 */
    .event_list_name {
        font-size: 2.2rem;
    }

    /* 행사 목록 이미지 자세히보기 글자크기 조정 */
    .event_list_detail {
        font-size: 1.1rem;
    }

    /* 행사 목록 이미지 행사날짜 글자크기 조정 */
    .event_list_date {
        font-size: 1.1rem;
    }
}

/* 미디어쿼리, 모바일 */
@media screen and (max-width:475px) {

    /* 행사 목록 이미지 영역 여백 크기 조정 */
    .event_list_img a {
        margin-top: 10px;
    }

    /* 행사 목록 이미지 행사이름 글자크기 조정 */
    .event_list_name {
        font-size: 1.7rem;
    }

    /* 행사 목록 이미지 자세히보기 글자크기 조정 */
    .event_list_detail {
        font-size: 0.9rem;
    }

    /* 행사 목록 이미지 행사날짜 글자크기 조정 */
    .event_list_date {
        font-size: 0.9rem;
    }

    /* 타이틀 이미지 영역 */
    .event_list_title {
        height: 24vh;
        font-size: 1.9rem;
    }

    /* 텍스트는 불투명하지 않게 타이틀 이미지 가상영역 생성  */
    .event_list_title::after {
        height: 24vh;
    }
}