/* 폰트 */
@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
}

*, html {
    font-family: "LeferiPoint-WhiteObliqueA";
    font-weight: bold;
}   


/* 행사 예약 */
.event_book_title {
    text-align: center;
    height: 70px;
    margin-top: 80px;
    font-size: 2rem;
    font-weight: bold;
}

/* 행사 예약 내용 */
.event_book_info {
    height: 370px;
    width: 75%;
    max-width: 1035px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    border: 1.5px solid gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

/* 행사 예약 내용 행사이름 */
.event_book_info h1 {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
}

/* 행사 예약 내용 텍스트 */
.event_book_info p {
    margin: 30px 0;
    text-align: left;
}

/* 행사 예약 내용 텍스트 영역 */
.event_book_info div {
    width: 45%;
    max-width: 370px;
    margin: 0 auto;
}

.event_book_info div:first-child {
    background: url(../images/event_book.jpg);
    background-size: cover;
    background-position: bottom;
    background-position: center;
    color: white;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}

/* 행사 예약 내용 분리선 */
.info_line {
    border-right: 1.5px solid gray;
    height: 80%;
}

/* 행사 예약 달력 */
.event_book_date {
    height: 490px;
    width: 490px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 행사 예약 달력 위쪽 영역 */
.event_month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.event_month button {
    height: 20px;
    margin: 0 10px;
    cursor: pointer;
}

/* 행사 예약 달력 표 */
table {
    border-collapse: collapse;
}

/* 행사 예약 달력 칸 영역 */
th, td {
    border: 1px solid gray;
    width: 60px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

/* 행사 예약 폼 */
.event_book_form {
    width: 95%;
    margin: 3vh auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* 행사 예약 폼 각 영역 */
.event_book_form>div {
    width: 100%;
    max-width: 490px;
    margin: 3vh;
}

/* 행사 예약 폼 입력 영역 */
.event_book_form>div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid gray;
}

/* 행사 예약 폼 입력목록 항목 영역 */
.event_book_form li {
    width: 90%;
    margin: 10px auto;
    height: 60px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* 행사 예약 폼 입력목록 항목 이름 */
.event_book_form label {
    display: inline-block;
    margin: 5px 0;
}

/* 행사 예약 폼 입력목록 입력 영역 */
.book_input {
    height: 25px;
    width: 250px;
}

#event_date_text {
    color: blue;
    font-size: 0.9rem;
}

/* 행사 예약 폼 신청인원 카운트 숫자 영역 */
.event_count_num {
    display: inline-block;
    width: 20px;
    text-align: center;
}

/* 행사 예약 폼 신청인원 카운트 버튼 */
.count_button {
    display: inline-block;
    border: 1px solid gray;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 1.0rem;
    cursor: pointer;
}

/* 개인정보활용동의 알림 텍스트 */
.form_error {
    color: red;
    font-size: 0.8rem;
    display: flex;
    justify-content: right;
    padding-right: 20px;
}

/* 예약 버튼 */
input[type="submit"] {
    height: 40px;
    width: 250px;
    display: block;
    margin: 30px auto;
    border: none;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    color: white;
    background-color: rgb(27, 161, 226);
    cursor: pointer;
    font-weight: bold;
    font-size: 1.0rem;
}

/* 예약 시 주의사항 내용 */
.event_book_note {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    line-height: 30px;
    font-size: 0.9rem;
    color: rgb(68, 68, 68);
    font-weight: bold;
}

/* 예약 시 주의사항 텍스트 */
.event_book_note h1 {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 80px 0 10px 0;
    color: black;
}

/* 예약 시 주의사항 텍스트 빨간색 글씨 */
.text_red {
    color: red;
}

/* width 값이 962px 미만일 때 */
@media all and (max-width:888px) {

    /* 행사 예약 내용 */
    .event_book_info {
        /* 행사 내용을 열 방향으로 배치 */
        flex-direction: column;
        /* 행사 내용을 열 가운데로 정렬 */
        justify-content: center;
        /* h1태그 margin : 0, p태그 top-margin : 30px 차이조절 */
        padding-top: 30px;
        width: 95%;
        max-width: 490px;
        height: 100%;
    }

    /* 행사 예약 내용 텍스트 영역 */
    .event_book_info>div {
        width: 95%;
        max-width: 350px;
        margin: 0 auto;
    }

    /* 행사 예약 내용 분리선 */
    .info_line {
        /* 분리선 보이지 않게 처리 */
        display: none;
    }

    /* 행사 예약 내용 행사이름 아래 내용과 같은라인 정렬 */
    .event_book_info h1 {
        text-align: left;
    }

    /* 행사 예약 폼 각 영역 마진 조절 */
    .event_book_form>div {
        margin: 3vh 0;
    }

}

/* width 값이 475px 미만일 때 */
@media all and (max-width:475px) {

    /* 행사 예약 폼 입력목록 입력 영역 크기 변경 */
    .book_input {
        width: 95%;
    }
}