/* 폰트 */
@font-face { /* 로고 */
    font-family: 'MYYeongnamnu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYYeongnamnu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* 기본 */
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html {
    /* 기준이 되는 루트 요소(html)의 폰트 사이즈 설정 */
    font-size: 18px;

    /* 기본 폰트 */
    font-family: "LeferiPoint-WhiteObliqueA";
}


/*===== 헤더 =====*/
header{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  /* 메뉴 위치 */
  .menu {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 46px;
    width: 46px;
  }
  
  .menu-link {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1002;
  }
  
  .menu-icon {
    position: absolute;
    width: 20px;
    height: 14px;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 1px;
  }
  
  /* 메뉴 아이콘 클릭 효과 */
  .menu-line {
    /* background-color: #333; */
    background-color: azure;
    height: 2px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    left: 0;
    transition: all 0.25s ease-in-out;
  }
  .menu-line-2 {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .menu-line-3 {
    bottom: 0;
  }
  .menu.open .menu-line-1 {
    transform: translateY(7px) translateY(-50%) rotate(-45deg);
  }
  .menu.open .menu-line-2 {
    opacity: 0;
  }
  .menu.open .menu-line-3 {
    transform: translateY(-7px) translateY(50%) rotate(45deg);
  }
  
  /* 메뉴 원 효과 */
  .menu-circle {
    background-color:darkseagreen; /* 색 다시 정하기 */
    width: 100%;
    height: 100%;
    max-height: 100vh;
    position: absolute;
    border-radius: 50%;
    transform: scale(1);
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
  }
  .menu:hover .menu-circle {
    transform: scale(1.5);
  }
  .menu.open .menu-circle {
    transform: scale(60);
  }
  
  /* 로고 */
  .logo{
    font-family: 'MYYeongnamnu';
    font-size: 2.5rem;
    text-align: center;
    height: 13vh;
    line-height: 13vh;
  }
  
  
  /* 펼친 메뉴 내용 */
  .menu-overlay {
    background-color:darkseagreen; /* 색 다시 정하기 */
    color: #333;
    height: 100%;
    max-height: 100vh;
    overflow-y: auto;
    width: 100%;
    position: fixed;
    text-align: center;
    transition: opacity 0.2s ease-in-out;
    z-index: 1001;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .menu-overlay.open {
    opacity: 1;
    visibility: visible;
  }
  .menu_title{
    font-size: 20px;
    font-weight: bold;
  }
  
  /* 상세 메뉴 */
  .menu-overlay>div{
    margin-bottom: 10px;
  }
  .menu_title{
    height: 5vh;
    line-height: 5vh;
  }
  .menu_sub li{
    /* 높이 설정 */
    height: 5vh;
    /* line-hight를 높이와 같게 하여 세로 가운데 정렬 */
    line-height: 5vh;
  }
  .menu_sub li:hover a{
    color: white
  }



/*==== 푸터 ====*/
div.footer{
    background-color: gray;
    margin-bottom: 0;
    color: white;
    font-size: 0.8rem;
}
div.footer>ul{
    text-align: center;
    padding: 2%;
}
div.footer>ul>li{
    /* 각 리스트 inline-block(줄바꿈하지 않고, 각 크기(너비,높이)는 가지게 함) */
    display: inline-block;
    padding: 0 2%;
}
div.footer>ul>li:nth-child(2){
    /* 리스트 양 옆에 테두리로 | 표시 주기 */
    border-left: 1px solid white;
    border-right: 1px solid white;
}
div.footer>div{
    /* 마진, 패딩 조정 */
    margin: 0;
    padding: 0 0 2% 2%;
}
div.footer p{
    font-size: 0.8rem;
    padding-top: 2%;
}
div.footer a{
    color: white;
}


/*==== 미디어쿼리 =====*/