html {
    /* 기준이 되는 루트 요소(html)의 폰트 사이즈 설정 */
    font-size: 12px;
}

/* 전체 박스들을 감싸고 있는 부모 박스 */
div.wrap {
    /* flex 사용 */
    display: flex;
    /* 세로배치(flex-direction: column;), 줄바꿈(flex-wrap: wrap;) */
    flex-flow: column wrap;
    /* 100vh는 전체 viewport height의 100%를 의미하며, 100vh height는 브라우저 창의 전체 높이와 같게 하여 전체 내용을 표시한다는 것 */
    height: 100vh;
}

/* 기본적으로 wrap 안의 자식 div 영역들은 가로의 100%를 차지 */
div.wrap>div {
    width: 100%;
}

/*==== 로고 부분 ====*/
/* 로고(텍스트) */
div.wrap>div {
    /* 부모 요소의 가로 너비를 100%로 설정 */
    width: 100%;
}

div.banner_logo>span.logo {
    /* 로고 텍스트를 수직, 수평 중앙에 위치시키기 위해 flex 속성을 설정 */
    display: flex;
    /* 수직, 수평 정렬 */
    justify-content: center;
    align-items: center;
    /* 부모 요소의 높이와 같도록 높이를 100%로 설정 */
    height: 100%;
    /* 로고 텍스트의 글자를 부모 크기의 1.8배로 설정 */
    font-size: 1.8rem;
    /* 로고 텍스트의 글자 두께를 두껍게 설정 */
    font-weight: bold;
}

div.banner_logo>button {
    /* 버튼 요소를 왼쪽 마진에 붙여 오른쪽으로 배치하기 위해 */
    margin-left: auto;
}

/*==== 메뉴 부분 ====*/
div.header_menu {
    /* display: none; 기본적으로 보이지 않게 설정 */
}

/* 메뉴(ul) 전체 설정 설정 */
div.header_menu>ul {
    /* 주 축(가로)을 기준으로 가운데 정렬 */
    display: flex;
    /* 가로/세로 전부 가운데 정렬 */
    justify-content: center;
    align-items: center;
    /* 메뉴의 위,아래 마진 설정 */
    margin: 3% 0;
}

/* 각 메뉴 list 세부 설정 */
div.header_menu>ul>li {
    /* 각 리스트의 양 옆 마진 설정 */
    margin: 0 2%;
    /* 글자 크기는 부모(html)의 1.2배 */
    font-size: 1.2rem;
}




/* 미디어쿼리, PC */
@media screen and (min-width:1024px) {
    html {
        /* 폰트 크기 조절을 rem으로 했으므로 루트(html)의 폰트 사이즈를 조정 */
        font-size: 6px;
    }
}

/* 미디어쿼리, 태블릿 */
@media screen and (min-width:768px) {
    html {
        /* 폰트 크기 조절을 rem으로 했으므로 루트(html)의 폰트 사이즈를 조정 */
        font-size: 12px;
    }
}