/* 이미지 가로는 모두 가로에 꽉 차게 설정 */
img {
    width: 100%;
}

/* 전체 박스들을 감싸고 있는 부모 박스 */
div.wrap {
    /* flex 사용 */
    display: flex;
    /* 세로배치(flex-direction: column;), 줄바꿈O(flex-wrap: wrap;) */
    flex-flow: column wrap;
}

/* wrap 안의 자식 div 영역들 */
div.wrap>div {
    /* 가로의 100%를 차지 */
    width: 100%;
}


/*==== 공지 배너 및 타이틀 ====*/
div.notice_title {
    position: relative;
    width: 100%;
    height: 30vh;
}

div.notice_title>strong {
    position: absolute;
    /* 중앙위치 */
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    /* 그림보다 위에 있어야 하므로 z-index 높게 설정 */
    z-index: 999;
    /* 폰트 설정 */
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

div.notice_title>img {
    height: 100%;
    /* 이미지 필터 , 대비 블러 */
    filter: contrast(50%) blur(1px);
}


/*==== 드롭다운 및 검색 ====*/
div.notice_search_wrap{
    margin: 3% 0;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 8vh;
    font-size: 0;
}
#search{
    height: 30px;
    width: 60px;
}

/* 검색 */
div.notice_search>form{
    display: flex;
    align-items: center;
}
div.notice_search input[type="text"]{
    height: 30px;
    width: 300px;
    padding: 0;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 3px;
    margin: 0 3%;
}
div.notice_search button{
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: 1px solid #999;
    border-radius: 3px;
}
div.notice_search button>img{
    width: 100%;
    height: 100%;
}


/*==== 게시판 리스트 ====*/
div.notice_list {
    width: 100%;
}

/* 목록 */
div.board_list {
    /* 부모의 100% */
    width: 100%;
    border-top: 2px solid black;
}

div.board_list>div {
    border-bottom: 1px solid #ddd;
    /* 원할한 정렬을 위해 font-size:0 설정, 자식 요소들 각각 font-size 설정 필요 */
    font-size: 0;
    padding-top: 1%;
}

div.board_list>div.top {
    border-bottom: 1px solid #999;
}

div.board_list>div:last-child {
    border-bottom: 1px solid black;
}

div.board_list>div>div {
    display: inline-block;
    /* 요소 수직 가운데 정렬 */
    vertical-align: middle;
    /* 가로 가운데 정렬 */
    text-align: center;
    /* 부모 요소에서 정렬을 위해 font-size를 0으로 설정하였으므로 재설정 필요 */
    font-size: 1rem;
    /* 여백 설정 */
    padding: 3% 0;
}

/* 번호 */
div.board_list div.num {
    display: none;
}

/* 제목 */
div.board_list div.title {
    width: 60%;
}

div.board_list>.top>div {
    font-weight: 600;
}

/* 글쓴이 */
div.board_list div.write {
    display: none;
}

/* 작성일 */
div.board_list div.date {
    width: 40%;
}

/* 조회 */
div.board_list div.count {
    display: none;
}

/* 페이징 */
div.board_page {
    margin: 5% 0;
    text-align: center;
    /* div 사이 간격 없앰 */
    font-size: 0;
}

div.board_page>a {
    /* a 태그는 기본적으로 inline */
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-left: none;
    /* 수직 가운데 정렬 */
    vertical-align: middle;
    /* 패딩으로 가운데 정렬 잡기위해 */
    line-height: 100%;
}

div.board_page>a.bt {
    font-size: 1.2rem;
    padding-top: 10px;
    /* 꺽쇠끼리 멀어서 살짝 서로 가까이 붙게 하려고 씀 */
    letter-spacing: -1px;
}

div.board_page>a:first-child {
    border-left: 1px solid #ddd;
}

div.board_page>a.num {
    font-size: 15px;
    padding-top: 9px;
}

div.board_page>a.num.on {
    background-color: black;
    border-color: black;
    color: white;
}

/*==== 문의 ====*/
div.notice_help{
    padding-left: 3%;
    margin-top: 5%;
}


/*==== 미디어쿼리 태블릿 ====*/
@media (min-width:768px) and (max-width:1023px) {

    /* 번호 */
    div.board_list div.num {
        display: inline-block;
        width: 10%;
    }

    /* 제목 */
    div.board_list div.title {
        display: inline-block;
        width: 50%;
        text-align: left;
    }

    /* 글쓴이 */
    div.board_list div.write {
        display: inline-block;
        width: 10%;
    }

    /* 작성일 */
    div.board_list div.date {
        display: inline-block;
        width: 20%;
    }

    /* 조회 */
    div.board_list div.count {
        display: inline-block;
        width: 10%;
    }
}

/*==== 미디어쿼리 PC ====*/
@media screen and (min-width:1024px) {
    .notice_search_wrap{
        height: 10vh;
    }


    .notice_search input[type="text"]{
        height: 50px;
        width: 350px;
    }

    .notice_search button{
        width: 50px;
        height: 50px;
    }

    /* 번호 */
    div.board_list div.num {
        display: inline-block;
        width: 10%;
    }

    /* 제목 */
    div.board_list div.title {
        display: inline-block;
        width: 60%;
        text-align: left;
    }

    /* 글쓴이 */
    div.board_list div.write {
        display: inline-block;
        width: 10%;
    }

    /* 작성일 */
    div.board_list div.date {
        display: inline-block;
        width: 10%;
    }

    /* 조회 */
    div.board_list div.count {
        display: inline-block;
        width: 10%;
    }
}